/*==================== 
    Stylization Just Desktop
====================*/



/*========== Variables ==========*/
:root {
    /*===== Colors =====*/
    --white: #fff;
    --gray: gray;
    --black: #191919;
    --brown-50: #917758;
    --brown-100: #3c2915;    
}



/*========== Global ==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--white);
    scroll-behavior: smooth;
}
img {
    width: 100%;
    height: auto;
}



/*========== Components ==========*/
    /*===== Container =====*/
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    }



/*========== Main ==========*/
    /*===== Home =====*/
    .home {
        background-image: url('../assets/img/bg-home.jpg');
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
        /* Header */
        .header {
            padding: 15px;
        }
        .nav-header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .nav-header ul {
            display: flex;
            justify-content: space-between;
            width: 35%;
        }
        .nav-header img {
            width: 150px;
        }
        .nav-header ul li a {
            font-weight: 700;
            text-transform: uppercase;
            font-size: .75rem;
            color: var(--white);
            padding: 16px;
        }
        .nav-header ul li a:hover {
            color: var(--brown-50);
            border-bottom: 1px solid var(--brown-50);
        }
        /* Content */
        .home-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .home-content span {
            text-transform: uppercase;
            color: var(--brown-50);
            font-size: 1rem;
            letter-spacing: .25rem;
        }
        .home-content h1 {
            font-weight: 700;
            font-size: 8rem;
        }
        .home-content img {
            margin-top: 15px;
            width: 50px;
        }
    /*===== About =====*/
    .about {
        background-color: var(--brown-50);
    }
    .about .container {
        display: flex;
        justify-content: flex-end;
        padding: 50px 0;
        position: relative;
    }
    .schedules-card-outer {
        position: absolute;
        top: -50px;
        left: 0;
        background-image: url('../assets/img/brush-big.jpg');
        background-size: cover;
        padding: 20px;
    }
    .schedules-card {
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 50px 50px;
    }
    .schedules-card header img {
        width: 50px;
    }
    .schedules-card header span {
        font-weight: 700;
        color: var(--brown-50);
        font-size: 2.25rem;
        border-bottom: 1px solid var(--brown-50);
    }
    .schedules-card .text-container span:first-child {
        color: var(--gray);
    }
    .schedules-card .text-container img {
        width: 30px;
    }
    .about .container > .text-container {
        width: 40%;
    }
    .about .text-container h2 {
        font-size: 2.5rem;
        position: relative;
        padding-bottom: 10px;
    }
    .about .text-container h2::after {
        content: '';
        width: 100px;
        height: 3px;
        background-color: #a18b6d;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .about .text-container h2 span {
        font-size: 1rem;
    }
    .about .text-container p {
        font-size: 1.1rem;
        margin: 20px 0;
    }
    .about img {
        align-self: flex-end;
        width: 280px;
    }
    .bullet{
        width: 6px;
        height: 6px;
        background-color: var(--white);
        border-radius: 100%;
    }
    .collum {
        width: 3px;
        height: 25px;
        background-color: var(--white);
    }



/*========== # ==========*/